@import 'bootstrap-reboot';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

$grey: #f5f5f5;
$blue: #6990cb;
$blue-hovered: #79a6e9;

body {

    font-family: 'Lato', sans-serif;
}
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    &::placeholder {
        transition: opacity .2s ease
    }

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }

}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.container {
    width: 90vw;
    margin: 0 auto;
}
.button {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    height: 2.5rem;
    background-color: $blue;
    border-radius: 6px;
    border: none;
    text-transform: uppercase;
    color: $grey;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: $blue-hovered;
    }
}


@import 'components/common/_navbar.scss';
@import 'components/pages/_login-form.scss';